<!doctype html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>北京中医药大学教室方位表</title>
    <link rel="icon" href="https://yinrs.win/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://yinrs.win/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/min.css" />
    <link rel="stylesheet" type="text/css" href="./classroom.css" media="screen" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <h1>北京中医药大学教室方位表</h1>

    <div id="classroom">
        <div class="classroom" v-for="group in classroom">
            <h2>{{ group.type }}</h2>
            <table v-for="table in group.room_groups">
                <tbody>
                    <tr v-for="row in table" :id="row | getRoomID(group.type)">
                        <td v-if="row.length == 1" colspan="3">{{ row[0] }}</td>
                        <template v-else>
                            <td v-for="item in row">{{ item }}</td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="./classroom_data.js"></script>
    <script type="text/javascript" src="./classroom.js"></script>
</body>

</html>
